{% extends 'dashboard.html' %}
{% load static %}
{% block content %}
<title>{% block title %}Add Task{% endblock %}</title>
<div class="tab-content">
    <div class="tab-pane fade show active" id="todo-add" role="tabpanel">
        <div class="card">
            <form class="card-body" action="" method="post" id="add_task" > 
                {% csrf_token %} 
                {% for field in form %}
                  <div class= "row">
                    <label class="col-md-3 col-form-label">Task {{field.label_tag}} <span class="text-danger">*</span></label>
                    <div class="col-md-7">{{field}}</div>
                  </div>
                  {% for error in field.errors %}
                    <p style = "color : red">{{error}}
                  {% endfor %}</p>
                {% endfor %}
                {% for error in form.non_field_errors %}
                  <p style = "color : red">{{error}}</p>
                {% endfor %}
                {% comment %} <table>{{ form.as_table }}</table> {% endcomment %}
                <div class="form-group row">
                    <label class="col-md-3 col-form-label"></label>
                    <div class="col-md-7">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="submit" class="btn btn-outline-secondary">Cancel</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% comment %} <script src="{% static 'js/jquery/jquery.js' %}"></script>
<script>
    $("#id_project").change(function () {
      var url = $("#add_task").attr("data-cities-url"); 
      var project_id = $(this).val(); 

      $.ajax({                     
        url: url,
        method: 'get',                    
        data: {
          'project': project_id     
        },
        success: function (data) {   
          console.log('hello')
          $("#id_assigned_to").html(data);  
        }
      });

    });
</script> {% endcomment %}
{% endblock  %}
{% block extrajs %}
  <script src="{% static 'js/jquery/jquery.js' %}"></script>
	<script src="{% static 'js/jquery/jquery_validate.js' %}"></script>
	<script src="{% static 'js/jquery/jquery_validate.min.js' %}"></script>
	<script src="{% static 'js/jquery/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery/validation.js' %}"></script>   
{% endblock %}
