{% extends 'dashboard.html' %}
{% load static %}
{% block content %}

        <div class="d-flex justify-content-between align-items-center">
            <ul class="nav nav-tabs page-header-tab">

                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#todo-add">Add Task</a></li>
          
            </ul>
        </div>

                    <div class="tab-content">
                     
                    <div class="tab-pane fade show active" id="todo-add" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Add Task</h3>
                                <div class="card-options ">
                                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                </div>
                            </div>
                            <form class="card-body" action="" method="post" id="add_task">
                                    {% csrf_token %} 
                                    {{form.as_p}}
                                   
                                    <div class="form-group row">
                                        <label class="col-md-3 col-form-label"></label>
                                        <div class="col-md-7">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                            <button type="submit" class="btn btn-outline-secondary">Cancel</button>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                    
    </div>
        
{% endblock  %}
{% block extrajs %}
    <script src="{% static 'js/jquery/jquery.js' %}"></script>
	<script src="{% static 'js/jquery/jquery.validate.js' %}"></script>
	<script src="{% static 'js/jquery/jquery.validate.min.js' %}"></script>
	<script src="{% static 'js/jquery/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery/validation.js' %}"></script>   
{% endblock %}