{% extends 'dashboard.html' %}
{% load static %}
{% block content %}
<title>{% block title %}Add Task{% endblock %}</title>
<div class="tab-content">
    <div class="tab-pane fade show active" id="todo-add" role="tabpanel">
        <div class="card">
            <form class="card-body" action="" method="post" id="add_task">
                {% csrf_token %} 
                {% comment %} {{form.as_p}} {% endcomment %}
                <table>{{ form.as_table }}</table>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label"></label>
                    <div class="col-md-7">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="submit" class="btn btn-outline-secondary">Cancel</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock  %}
{% block extrajs %}
    <script src="{% static 'js/jquery/jquery.js' %}"></script>
	<script src="{% static 'js/jquery/jquery_validate.js' %}"></script>
	<script src="{% static 'js/jquery/jquery_validate.min.js' %}"></script>
	<script src="{% static 'js/jquery/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery/validation.js' %}"></script>   
{% endblock %}
