{% extends 'dashboard.html' %}
{% block content %}
<title>{% block title %}Sub Task List{% endblock %}</title>
 <div class="container-fluid">
                <div class="d-flex justify-content-between align-items-center">
                    <ul class="nav nav-tabs page-header-tab">
                        <li class="nav-item"><a class="nav-link " href="{% url 'mytask_list' %}">Task List</a></li>
                        <li class="nav-item"><a class="nav-link active" href="{% url 'tasksublist'%}">subtask</a></li>
                    </ul>
                </div>
            </div>
<div class="section-body mt-3">
    <div class="container-fluid">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="todo-add" role="tabpanel">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive todo_list">
                                        <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                                            <thead>
                                            <tr>
                                            <th>title</th>
                                            <th class="w">project</th>
                                            <th class="w">priority</th>
                                            <th class="w">status</th>
                                            <th class="w">date</th>
                                            <th class="w">Task Name</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                        
                                            {% for t in subtasklist %}
                                            <tr>
                                                <th><a href="{% url 'task_detail' t.pk %}">{{t.title}}</a></th>
                                                <th> {{t.project}}</th>
                                                <th> {{t.priority}}</th>
                                                <th> {{t.get_status_display}}</th>
                                                <th> {{t.start_date|date:'d M Y' }}to<br>{{t.end_date|date:'d M Y' }}</th>
                                                <th><a href="{% url 'task_detail' t.pk %}"> {{t.parent_task}}</th>
                                            </tr>
                                            {% endfor %}
                                           
                                            </tbody>
                                        </table>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>      
{% endblock  %}