{% extends 'dashboard.html' %}
{% block content %}
<div class="section-body">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
            <ul class="nav nav-tabs page-header-tab">

                <li class="nav-item"><a class="nav-link " href="{% url 'add_subtask' %}">Add Sub Task</a></li>
                  <li class="nav-item"><a class="nav-link active" href="{% url 'mytask_list' %}">Task List</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="section-body mt-3">
    <div class="container-fluid">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="todo-add" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                <div class="table-responsive todo_list">
                                    <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                                        <thead>
                                            <tr>
                                            <th>title</th>
                                            <th class="w">project</th>
                                            <th class="w">priority</th>
                                            <th class="w">status</th>
                                            <th class="w">date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        
                                            {% for l in tasklist %}
                                            <tr>
                                                <th>{{l.title}}</a></th>
                                                <th> {{l.project}}</th>
                                                <th> {{l.priority}}</th>
                                                <th> {{l.get_status_display}}</th>
                                                <th> {{l.start_date}}to<br>{{l.end_date}}</th>
                                            </tr>
                                            {% endfor %}
                                        </tbody>

                                        </table>
                                   
                                </div>
                            </div>
                                
                            </div>
                        </div>
                    </div>
    </div>
        
{% endblock  %}