{% extends 'dashboard.html' %} {% load static %} {% block content %}
<title>{% block title %}Task List{% endblock %}</title>
<div class="section-body mt-2">
    <div class="container-fluid">
        <div class="tab-content">
        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <select id="project_tasklist" data-url='{% url "tasklist" %}'>
                                        <option disabled = "true" selected> Projects </option>
                                            {% for project in projectlist %}
                                            <option value={{project.id}} id="project_id">{{ csrf_input }}{{project.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                         <input name="search_here" id="search_here" data-url="{% url 'search_task' %}" type="text" placeholder="Search..">
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-group">
                                            <input type="date" name="start_date" id="start_date">
                                            <input type="date" name="end_date" id="end_date">
                                            <div class="col-md-3">
                                                <input type="submit" value="search" class="btn btn-primary btn-block"  id="search" data-url="{% url 'searchbydates' %}">
                                            </div>
                                        </div>
                                        <div clas = "input-group">
                                        </div> 
                                    </div>
                                    <div class="col-lg-2">
                                        <a class="btn btn-outline-dark btn-sm btn-block mb-3" href="{% url 'add_sprint' %}">Create sprint +</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="tab-content">
        <div class="tab-pane fade show active" id="todo-add" role="tabpanel">
            <div class="card" id="card">
                <div class="card-body">
                    <div class="table-responsive todo_list">
                        <div id="search_result">
                            {% include 'task/search_list.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
{% block extrajs %}
<script src="{% static 'js/jquery/jquery.js' %}"></script>
<script src="{% static 'js/jquery/tasklistbyproject.js' %}"></script>
<script src="{% static 'js/jquery/searchtask.js' %}"></script>
<script src="{% static 'js/jquery/searchbydates.js' %}"></script>
{% endblock %}
