{% load static %}
<table class="table table-hover table-striped table-vcenter mb-0 text-nowrap"  id="mytable">
    <thead>
        <tr>
            <th onclick="sortTable(0)">title</th>
            <th >assigned to</th>
            <th class="w" onclick="sortTable(0)">status</th>
            <th class="w" onclick="sortTable(0)">priority</th>
            <th class="w" onclick="sortTable(0)">tasktype</th> 
        </tr>
    </thead> 
    
    <tbody id="search-results">
        {% for data in task %}
            <tr>
                <td>{{data.title}}</td>
                <td>{{data.assigned_to}}</td>
                <td><span class="tag tag-info">{{data.status}}</span></td>
                <td>{{data.priority}}</td>
                <td>{{data.tasktype}}</td>
                <th> {{data.start_date}}to<br>{{data.end_date}}</th>
            </tr>
        {% endfor %}
    </tbody>
</table>
