{% load static %}
<table class="table table-hover table-striped table-vcenter mb-0 text-nowrap"  id="mytable">
    <thead>
        <tr>
            <th onclick="sortTable(0)">title</th>
            <th >assigned to</th>
            <th class="w" onclick="sortTable(0)">status</th>
            <th class="w" onclick="sortTable(0)">priority</th>
            <th class="w" onclick="sortTable(0)">tasktype</th> 
        </tr>
    </thead> 
    
    <tbody id="search-results">
        {% for t in tasklist %}
            <tr>
                <td>{{d.title}}</td>
                <td>{{d.assigned_to}}</td>
                <td><span class="tag tag-info">{{d.status}}</span></td>
                <td>{{d.priority}}</td>
                <td>{{d.tasktype}}</td>
                <th> {{d.start_date}}to<br>{{d.end_date}}</th>
            </tr>
        {% endfor %}
        {% for d in task %}
            <tr>
                <td>{{d.title}}</td>
                <td>{{d.assigned_to}}</td>
                <td><span class="tag tag-info">{{d.status}}</span></td>
                <td>{{d.priority}}</td>
                <td>{{d.tasktype}}</td>
                <th> {{d.start_date}}to<br>{{d.end_date}}</th>
            </tr>
        {% endfor %}
        {% for l in tasklist %}
            <tr>
                <th><a href="{% url 'task_detail' l.pk %}">{{l.title}}</a></th>
                <th> {{l.project}}</th>
                <th> {{l.priority}}</th>
                <th> {{l.get_status_display}}</th>
                <th> {{l.start_date}}to<br>{{l.end_date}}</th>
            </tr>
        {% endfor %} 
        {% for d in list %}
            <tr>
                <td>{{d.title}}</td>
                <td>{{d.assigned_to}}</td>
                <td><span class="tag tag-info">{{d.status}}</span></td>
                <td>{{d.priority}}</td>
                <td>{{d.tasktype}}</td>
                <th> {{d.start_date}}to<br>{{d.end_date}}</th>
            </tr>
        {% endfor %}
       
    </tbody>
</table>

                                        
