{% extends 'account/base.html' %} {% load static %} {% block content %}

<body class="font-montserrat">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
        </div>
    </div>
    <div id="main_content">

        <div class="page">
            <div id="page_top" class="section-body top_dark">
                <div class="container-fluid">
                    <div class="page-header">
                        <div class="left">
                            <a href="javascript:void(0)" class="icon menu_toggle mr-3"><i class="fa  fa-align-left"></i></a>
                            <h1 class="page-title">Dashboard</h1>
                        </div>
                        <div class="right">
                            <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
                            <li><a href="{% url 'account_logout' %}">Sign Out</a></li>

                        </div>
                    </div>
                </div>
            </div>
            <div class="section-body">
                <div class="container-fluid">
                    <div class="d-flex justify-content-between align-items-center">
                        <ul class="nav nav-tabs page-header-tab">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab">Task Detail</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="section-body mt-3">
                <div class="container-fluid">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="todo-list" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive ">
                                        {{taskdetail.title}}<br>
                                        {{taskdetail.description}}<br>
                                        {{taskdetail.get_status_display}}
                                        {{taskdetail.priority}}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock%}