{% extends 'dashboard.html'%}
{% load static %}
{% block content%}
<title>{% block title %}Change Password{% endblock %}</title>
<div class="shadow-lg p-5 mb-5 bg-body rounded">
<form action="" method="post" id="changepassword">
    {% csrf_token %}
    {% comment %} {{form.as_p}} {% endcomment %}
    {% for field in form %}
    <div class="fieldWrapper">
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
        <div>{{ field.errors }}</div> 
    </div>
    {% endfor %}
    <input type="submit" class="btn btn-primary m-3" value="Submit &raquo;">
</form>
</div>
{% endblock %}
{% block extrajs %}
<script src="{% static 'js/jquery/jquery_validate.min.js' %}"></script>
<script src="{% static 'js/jquery/validation.js' %}"></script>
{% comment %} <script src={% static "js/jquery/custom.js" %}></script> {% endcomment %}
{% endblock %}