{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}

            {% block content %}
            <div class="text-center mb-2">
                <a class="header-brand" href="index-2.html"><i class="fa fa-soccer-ball-o brand-logo"></i></a>
            <h2>{% trans "Login" %}</h2>
            </div>
            <div class="card-body">
                <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                <button class="btn btn-primary btn-block" type="submit">{% trans "Sign In" %}</button>
                </form>
             </div>
            <div class="text-center text-muted">
               {% blocktrans %} Don't have account yet? <a href="{{ signup_url }}">sign up</a>{% endblocktrans %}
            </div>
            {% endblock %}
          