{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}

            {% block content %}
            <div class="text-center mb-2">
                <a class="header-brand" href="index-2.html"><i class="fa fa-soccer-ball-o brand-logo"></i></a>
            </div>
            <div class="card-body">
    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    </div>
            <div class="text-center text-muted">
               {% blocktrans %} Don't have account yet? <a href="{{ signup_url }}">sign up</a>{% endblocktrans %}
            </div>
            {% endblock %}
          

