{% extends "account/base1.html" %}
{% load static%}
{% load i18n %}

<title> Forgot Password</title>

            {% block content %}

            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <div class="card-body">
                <div class="card-title"><h4>{% trans "Forgot Password" %}</h4></div>
                <p class="text-muted">Enter your email address and your password will be reset and emailed to you.</p>
                <div class="form-group">
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form.as_p }}
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary btn-block">Reset password</button>
                </div>
            </div>
        </div>   
        {% endblock %}
     
    