{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}

            {% block content %}
            <div class="text-center mb-2">
                <a class="header-brand" href="index-2.html"><i class="fa fa-soccer-ball-o brand-logo"></i></a>
            </div>
            <div class="card-body">
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
</div>
            <div class="text-center text-muted">
               {% blocktrans %} Don't have account yet? <a href="{{ signup_url }}">sign up</a>{% endblocktrans %}
            </div>
        </div>
            <div class="text-center text-muted">
               {% blocktrans %} Don't have account yet? <a href="{{ signup_url }}">sign up</a>{% endblocktrans %}
            </div>
            {% endblock %}