{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}

            {% block content %}
            <div class="text-center mb-2">
                <a class="header-brand" href="index-2.html"><i class="fa fa-soccer-ball-o brand-logo"></i></a>
            </div>
            <div class="card-body">
                <h1>{% trans "Change Password" %}</h1>

                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-block" name="action">{% trans "Change Password" %}</button>
                    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </form>
            </div>
            <div class="text-center text-muted">
               {% blocktrans %} Don't have account yet? <a href="{{ signup_url }}">sign up</a>{% endblocktrans %}
            </div>
            {% endblock %}
          