{% extends 'account/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="auth">
  <div class="auth_left">
    <div class="card">
        <form class="signup" id="signupform" method="post" action="{% url 'account_signup' %}">
            <div class="card-body">
                <div class="form-group">
                    <div class="card-title">Create new account</div>
                        {% csrf_token %}
                        {% for field in form %}
                            <div class= "row">
                                <label class="col-md-4 col-form-label">{{field.label_tag}} <span class="text-danger">*</span></label>
                                <div class="col-md-7">{{field}}</div>
                            </div>
                            {% for error in field.errors %}
                                {{error}}
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                    </div>
                </div>
                <div class="text-center text-muted">
                    Already have account? <a href="{{ login_url }}">Sign in</a>
                </div>
            </div>
        </form>
    </div>         
</div>
{% endblock %}

{% block extrajs %}
<script src={% static "js/jquery/custom.js" %}></script>
<script src="{% static 'js/jquery/jquery_validate.min.js' %}"></script>
<script src="{% static 'js/jquery/validation.js' %}"></script>
{% endblock %}
