{% extends "dashboard.html"%}
{% load static %}
{% block content%}
{% if user.is_authenticated %}

        {% if request.user.is_superuser %}
        <div class="container-fluid">
        <div class="p-2">
             <a class="btn btn-lg btn-primary float-right" href="{% url 'createuser' %}">
                <span>Create User<br><small>|Create user from here|</small></span></a>
            {% comment %} <form action="{% url 'searchuser' %}" method="get" id="searchform"> {% endcomment %}
                <input name="search_here" id="search_here" type="text" placeholder="Search..">
                <b><label>Sort by&raquo;</label></b>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Username:A-Z</option>
                    <option value="1">Username:Z-A</option>
                    <option value="2">Email:A-Z</option>
                    <option value="3">Email:Z-A</option>
                </select>
            {% comment %} </form> {% endcomment %}
        </div>

        <div id="search_result">
        {% include  'account/user_details_list.html' %}
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">
                        {{ i }}
                        <span class="sr-only">(current)</span>
                        </span>
                    </li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

        {% endif %}
    </div> 
</div>

{% else %}
    <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
    <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
{% endif %}
{% endblock %}

{% block extrajs %}
<script src={% static "js/jquery/custom.js" %}></script>

{% endblock %}