{% extends 'dashboard.html'%}
{% load static %}
{% block content%}
{% if user.is_authenticated %}
    <title>{% block title %}User Profile{% endblock %}</title>
    <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <div class="container emp-profile">

            <div class="row">
                <div class="col-md-10">
                    <div class="profile-head">
                                <h5>
                                    {{ request.user.username }}
                                </h5>
                                <h6>
                                    {{ request.user.designation }}
                                </h6>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <a href="{% url 'updateuser' user.id %}" class="btn btn-outline-dark btn-sm btn-block">Edit Profile</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label><b>User Name</b></label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ request.user.username }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label><b>Name</b></label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{request.user.first_name}} {{request.user.last_name}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label><b>Email</b></label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{request.user.email}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label><b>Phone</b></label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{request.user.contact}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label><b>Designation</b></label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{request.user.designation}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>      
        </div>
    </div>
{% endif %}
{% endblock %}

