{% extends "dashboard.html"%}
{% load static %}
{% load i18n %}
<title>{% block title %}Reports{% endblock %}</title>
{% block content%}
<div class="shadow-lg p-5 mb-5 bg-body rounded">
    <h4>Active Project Report</h4>
    <div class="row">
        <form action="{% url 'active_project_pdf' %}">
            <select name="active_project">
                {% for project in active_project %}
                <option>{{ project }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="View Report">
        </form>
    </div>
    <div class="row">
    </div>
</div>
{% endblock %}