{% extends "dashboard.html"%}
{% load static %}
{% load i18n %}
{% block content %}
{% load widget_tweaks %}


<title>{% block title %}Projects{% endblock %}</title>
<input name="search_here" id="search_here" type="text" placeholder="Search.." data-url="{% url 'search-project' %}">

<div class="span" style="float:right" >
              <select name="select" id="sort" data-url="{% url 'sort-project' %}">
                <option value="T+">By Title (Asc)</option>
                <option value="T-">By Title (Desc) </option>
                <option value="S+">By Start date (Asc)</option>
                <option value="S-">By Start date (Desc)</option>
                <option value="E+">By End date (Asc)</option>
                <option value="E-">By End date (Desc)</option>
              </select>
              
        
</div>
      


<div class="tab-content" id="search_result" >
    {% include  'project/listproject.html' %}
</div>
<div class="tab-content delete_content">
    <div class="tab-pane fade show active" id="Project-OnGoing" role="tabpanel">
        <div class="row">
             {%for project in projectlist %}
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{project.title}}</h3>
                    </div>
                    <div class="card-body">
                        <span class="tag tag-blue mb-3" id="title"> {{project.title}}</span>
                        <br>
                        <div class="row">
                            <div class="col-5 py-1"><strong>Start Date:</strong></div>
                            <div class="col-7 py-1"id="start_date">{{project.start_date}}</div>
                            <div class="col-5 py-1"><strong>End Date:</strong></div>
                            <div class="col-7 py-1"id="end_date">{{project.end_date}}</div>
                            <div class="col-5 py-1"><strong>Status:</strong></div>
                            <div class="col-7 py-1" id="status">{{ project.get_status_display }}</div>
                            <div class="col-5 py-1"><strong>Project Lead:</strong></div>
                            <div class="col-7 py-1"id="lead"><strong>{{project.project_lead}}</strong></div>
                            <div class="col-5 py-1"><strong>Project Description:</strong></div>
                            <div class="col-7 py-1"id="description"><strong>{{project.description|safe}}</strong></div>
                            <br> <br>
                            {% if request.user.is_superuser or request.user.is_staff %} 
                            <button type="button" class="btn btn-primary btn add", value="{{project.id}}"  id ="add" data-url="{% url 'add-member' %}">Add Member</button>
                            {% endif %}&nbsp;&nbsp;
                            <button type="button" class="btn btn-primary btn view",  value="{{project.id}}", id ="view" data-url="{% url 'view-member' %}">View Members</button>
                                   
                    </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="modal fade" id="modal-add">
    <div class="modal-dialog">
      <div class="modal-content">
</div>
</div>
</div>
<div class="modal fade" id="modal-view">
    <div class="modal-dialog">
      <div class="modal-content">
</div>
</div>
</div>
{% endblock %} 

 {% block extrajs %}

<script src="{% static 'js/jquery/ajax_search.js' %}"></script>
<script src="{% static 'js/jquery/sort.js' %}"></script>
<script src="{% static 'js/jquery/add_member.js' %}"></script>

{% endblock %} 

